.box {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}


.card {
    padding:1rem
}

.card p {
    
    font-weight: 100;
}


@media screen and (max-width: 720px) {
  .box {
    grid-template-columns: 1fr;
  }
}